.view {
    display: block;
}
.title {
    margin-top: 15px;
    margin-left: 25%;
    float: left;
    width: 100%;
    font-size: 20px;
    text-align: left;
}

.globe {
    padding-left: 5%;
}

.scaleKeysBox {
    padding-left: 5%;   
}

.flexContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.zoomButtonContainer {
    width: 100%;
}

.sideFlexContainer {
    display: flex;
    flex-direction: column;
    width: 12%;
}