.graphPane{
    width :80%;
    height: 100%;

    display:flex;
}
.infoPane{
    height: 100%;
    width: 20%;
}   
.titleDiv{
    width: 100%;
    display: flex;
    text-align: center;

}
.titleDiv text{
    color:black;
    margin: auto;
    font-size: 21px;
    text-align: center;

}

.selectionDiv{
    width: 100%;
    height: 350px;
    overflow-y: auto;
    overflow-x:hidden;
    padding-top: 4%;

    text-align: left;
    display:flex;
}
.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow{
    width: 100%;
    margin:auto;
}
.selector{

    width:80%;
    margin: 0px auto auto auto;
}

.selector .dropdown{
    width:100%;
}

.graphMainFlex {
    display: flex;
    flex-direction: row
}

.yLabelContainer {
    justify-content: center;
    align-items: center;
    width: 8%;
    padding-left: 1%;
    display: flex;
}

.yLabel {
    float: left;

}

.body{
    /* background-color: aquamarine; */
  width: 100%;
  height: 90%;
  display: flex;
  /* background-color: firebrick; */
}
.body::after{
  content: "";
    display: table;
    clear: both;
}

.bodyFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.xLabel {
    height: 3%;

}

.xHolder {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 4%;

}
