.Label {
    font-size: 1.6em;
}

.Label.y {
    transform: rotate(-90deg);
    text-anchor: middle;
}

.titleBox {
    float: left;
}

.title {
    text-align: left;
    font-size: 2em;
    float: left;
}

.chartSVG {
   margin:auto;
   /* margin-top: auto;
   margin-bottom:auto;
   margin-right:auto; */
    align-self: flex-start;
    align-items: flex-start;
    text-align: left;
}