
.barChart{
    width :70%;
    height: 100%;
    display:flex;

}
.barChart svg {
    width: 90%;
    height:90%;
    padding-left:50px;
    /* padding-left:50px;
    padding-top:100px;*/
    margin: auto;
}