.helpSlideHeader {
    text-align: center;
    padding-bottom: 3%;
    font-size: 24px;
}

.helpContent {
    text-align: left;
    padding-left: 5%;
    padding-right: 5;
    padding-bottom: 3%;
    font-size: 18px;
}