@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#rectangle {
    float: left;
    height: 22px;
    width: 50px;
}

.one {
    background: #FAE7A2;
}

.two {
    background: #F6CD78;
}

.three {
    background: #F3B557;
}

.four {
    background: #EF972F;
}

.five {
    background: #EB7624;
}

.six {
    background: #C5642F;
}

.seven {
    background: #A04B27;
}

.default {
    background: #AAAAAA;
}

.scaleLabel {
    display: inline;
    font-size: 13px;
}

.scaleLabelLabel {
    float: left;
    height: 22px;
    width: 295px;
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
