.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px 10% 0px 10%;
  color: white;
  text-align: center;

}
.select{
 /* // margin: 2% 2% 2% 2%; */
 /* margin-left: 2%;
 margin-right: 2%; */
  color:black;
  float: left;
    width: 33.33%;
}
.App-title {
  font-size: 35px;
}
.selectDiv{
  /* background-color: aquamarine; */
  width: 100%;
  height:30%;
  
}
.selectDiv::after{
  content: "";
    display: table;
    clear: both;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainContainer {
    height: 85%;
}

